{% extends "Layout.html" %}
{% block content %}
<center>
    <div class="panel panel-default">
        <div class="panel-body">
            {%if error%}
            <div class="alert alert-danger alert-dismissable" role="alert" style="margin-top: 30px;">
                <h4>{{error}}</h4>
            </div>
            {%endif%}
            <p>Select authorization flow and sign in:</p>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1" class="btn">Auth Code</a></li>
                    <li><a href="#tabs-2" class="btn">Hybrid</a></li>
                    <li><a href="#tabs-3" class="btn">Credentials</a></li>
                    <li><a href="#tabs-4" class="btn">Local </a></li>
                </ul>
                <div id="tabs-1">
                    <form method="POST" action="./usecode">
                        <div class="form-group">
                            <a class="btn btn-block btn-msft" href="#" onclick="$(this).closest('form').submit()" role="button"><img src="{{ url_for('static', filename='img/microsoft-icon.png')}}" class="msft-icon">Sign in with your Work or School account</a>
                        </div>
                    </form>
                </div>
                <div id="tabs-2">
                    <form method="POST" action="./hybrid">
                        <div class="form-group">
                            <a class="btn btn-block btn-msft" href="#" onclick="$(this).closest('form').submit()" role="button"><img src="{{ url_for('static', filename='img/microsoft-icon.png')}}" class="msft-icon">Sign in with your Work or School account</a>
                        </div>
                    </form>
                </div>
                <div id="tabs-3">
                    <form role="form" method="POST" action=".">
                        <fieldset>
                            <label>Enter your Microsoft account credentials here</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-em">Login</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div id="tabs-4">
                    <form action="./locallogin" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" class="form-control" id="localemail" name="localemail" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="localpassword" name="localpassword" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-em">Login</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
{% endblock %}