{% extends "Layout.html" %}
{% block content %}
    <div class="panel-default" style="width:100% !important">

        <div class="container">
            {%if error%}
            <div class="alert alert-danger alert-dismissable" role="alert" style="margin-top: 30px;">
                <h4>Unable to link the local account and the Azure AD account because their email id's do not match.</h4>
            </div>
            {%endif%}
            <br />
            <br />
            <h1>Welcome to the Python AAD Sample App</h1>
            <br />
            <h2>Hello, {{session['firstname']}}  {{session['lastname']}}.</h2>
            <br />
            <h4>Email address: {{session['email']}}.</h4>
            <br />
            <h4>Connected accounts:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Link / Unlink</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Azure AD</td>
                        <td>
                            {% if aduser %}
                            <form action="./unlink" method="post">
                                <a style="cursor:pointer" onclick="$(this).closest('form').submit()">Unlink</a>
                            </form>
                            {% else %}
                            <form action="./link" method="post">
                                <a style="cursor:pointer" onclick="$(this).closest('form').submit()" >Link</a>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        
        {% if session['sdsresponse']['success'] == True %}
        <h4> School Information </h4>       
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-2">
                School Name :
            </div>
            <div class="col-md-4">
                {{ session['sdsresponse']['value']['displayName'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                School Id :
            </div>
            <div class="col-md-4">
                {{ session['sdsresponse']['value']['Education_SchoolNumber'] }}
            </div>          
        </div>
        <div class="row">
            <div class="col-md-2">
                Principal Name :
            </div>
            <div class="col-md-4">
                {{ session['sdsresponse']['value']['Education_SchoolPrincipalName'] }}                
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Principal Mail :
            </div>
            <div class="col-md-4">
                {{ session['sdsresponse']['value']['Education_SchoolPrincipalEmail'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Highest Grade :
            </div>
            <div class="col-md-4">
                {{ session['sdsresponse']['value']['Education_HighestGrade'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Lowest Grade :
            </div>
            <div class="col-md-4">
                {{ session['sdsresponse']['value']['Education_LowestGrade'] }}                
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Phone :
            </div>
            <div class="col-md-4">
                {{ session['sdsresponse']['value']['Education_Phone'] }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Address :
            </div>
            <div class="col-md-4">
                {{ session['sdsresponse']['value']['Education_Address'] }} ,
                {{ session['sdsresponse']['value']['Education_City'] }} ,
                {{ session['sdsresponse']['value']['Education_State'] }}                
            </div>
        </div>
        {% endif %}
     </div>
</div>
{% endblock %}