<html>
<head>
    <style type="text/css">
        body {
            padding-top: 100px;
            color: rgb(88, 88, 88) !important;
            background-color: rgb(240, 240, 240) !important;
        }

        .navbar-fixed-top {
            border-bottom: 1px solid rgba(255,255,255,.3);
            background: #000 !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/Site.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/my-jquery-ui.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='Scripts/jquery-2.1.4.min.js')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='Scripts/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Scripts/jquery.easing.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Scripts/jquery.validate.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Scripts/modernizr-2.8.3.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Scripts/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Scripts/respond.js')}}"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='Scripts/grayscale.js')}}"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='Scripts/jquery-ui.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/site.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/grayscale.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/font-awesome.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/google_font_lora.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/google_font_montserrat.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/home.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/signin.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Content/jquery-ui.min.css')}}" />
</head>
<body data-spy="scroll" background={{ url_for('static', filename='img/intro-bg.jpg' )}}>

    <div class="panel-default" style="width:100% !important">

        <div class="container">
            {%if error%}
            <div class="alert alert-danger alert-dismissable" role="alert" style="margin-top: 30px;">
                <h4>Unable to link the local account and the Azure AD account because their email id's do not match.</h4>
            </div>
            {%endif%}
            <br />
            <br />
            <h1>Welcome to the Python AAD Sample App</h1>
            <br />
            <h2>Hello, {{firstname}} {{lastname}}.</h2>
            <br />
            <h4>Email address: {{upn}}.</h4>
            <br />
            <h4>Connected accounts:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Link / Unlink</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Azure AD</td>
                        <td>
                            {% if aduser %}
                            <form action="./unlink" method="post">
                                <input type="hidden" name="email" value="{{upn}}" />
                                <a style="cursor:pointer" onclick="$(this).closest('form').submit()">Unlink</a>
                            </form>
                            {% else %}
                            <form action="./link" method="post">
                                <input type="hidden" name="email" value="{{upn}}" />
                                <a style="cursor:pointer" onclick="$(this).closest('form').submit()" >Link</a>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>